<div class="dashboard-container">
	<ul>
		<li>
			<a href="#/users">
				<div class='dashboard-nr'>{{users.length}}</div>
				<div class='dashboard-text'>Users</div>
			</a>
		</li>
		<li>
			<a href="#/rooms">
				<div class='dashboard-nr'>{{rooms.length}}</div>
				<div class='dashboard-text'>Rooms</div>
			</a>
		</li>
		<li>
			<a href="#/booking">
				<div class='dashboard-nr'>{{bookings.length}}</div>
				<div class='dashboard-text'>Bookings</div>
			</a>
		</li>
		<div class="clear" style="height:20px"></div>
		<li>
			<a>
				<div class='dashboard-nr'>?</div>
				<div class='dashboard-text'>Available</div>
			</a>
		</li>
		<li>
			<a>
				<div class='dashboard-nr'>?</div>
				<div class='dashboard-text'>Special</div>
			</a>
		</li>
		<li>
			<a>
				<div class='dashboard-nr'>?</div>
				<div class='dashboard-text'>Discounts</div>
			</a>
		</li>
	</ul>
	<div class="clear"></div>
</div>